* {
	margin: 0;
	padding: 0;
	border: none;
}

body,html {
	height: 100%;
	width: 100%;
	font-family: sans-serif;
}

body {
	overflow: hidden;
}

.about {
	position: absolute;
	right: 0;
	bottom: 0;
	padding: 0 10px 10px 0;
}

.hint {
	position: absolute;
	left: 0;
	bottom: 0;
	padding: 0 0 10px 10px;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}