* {
	margin: 0;
	padding: 0;
	border: none;
}

body,html {
	height: 100%;
	width: 100%;
	font-family: sans-serif;
}

body {
	overflow: hidden;
}

.about {
	position: absolute;
	right: 0.5em;
	bottom: 0.5em;
	padding: 0.7em 1em;
	background: rgba(127, 127, 127, 0.3);
}

.hint {
	position: absolute;
  left: 0.5em;
  bottom: 0.5em;
  padding: 0.7em 1em;
  background: rgba(127, 127, 127, 0.3);
}

a {
	text-decoration: none;
	color: blue;
}

a:hover {
	text-decoration: underline;
}

.dark {
	color: #bbb;
}

.dark a {
	color: #fff;
}